<% include _header %>

<h1>Listing Items</h1>

<ul id='items'>
<% items.forEach(function(item){ %>
  <li>
    <h3 class='name'><%= item.name %></h3>
    <p class='description'><%= item.description %></p>
  </li>
<% }); %>
</ul>

<% include _footer %>
