/* global */

body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  padding: 30px;
  color: #333;
}

h1 {
  text-align: center;
}

.contain {
  max-width: 650px;
  margin: 0 auto;
}

/* index */

#index .items {
  padding: 0;
}

	#index .items li {
	  background: #f1f1f1;
	  list-style: none;
	  margin-bottom: 10px;
	  border-radius: 5px;
	  padding: 1px 15px;
	  overflow: hidden;
	}

		#index .items li a {
		  color: #333;
		  text-decoration: none;
		}

	#index .items h3, p {
	  margin: .5em 0;
	}

	#index .items .info {
	  float: left;
	}

	#index .items .delete, #index .items .edit {
	  float: right;
	  opacity: .5;
	  cursor: pointer;
	}

	#index .items .delete {
	  color: #CE5B5B;
	  margin-top: 5px;
	  font-size: 1.3em;
	}

	#index .items .edit {
	  color: #E7A822;
	  margin-top: 8px;
	  margin-right: 7px;
	  font-size: 1.2em;
	}

		#index .items .delete:hover, #index .items .edit:hover {
		  opacity: 1;
		}

/* new/edit form */

form {
  background: #f1f1f1;
  padding: 15px 30px;
  border-radius: 5px;
}

	.field {
	  margin-bottom: 10px;
	}

	form input[type=text], form textarea {
	  width: 100%;
	  padding: 5px;
	  border: 1px solid #ccc;
	}

	form textarea {
	  min-height: 70px;
	}
